
@{
    ViewBag.Title = "Read";
}

<h2 class="text-center mb-4">Read Details</h2>

@using System.Data;
@{ 
    DataTable dt = ViewData["Datatablereturn"] as DataTable;
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                @foreach (DataColumn column in dt.Columns)
                {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in dt.Rows)
            {
                <tr>
                    @foreach (DataColumn column in dt.Columns)
                    {
                        <td>
                            @if(row[column]=="View" || row[column]=="Delete")
                            {
                                <a href="">@row[column]</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}